*.*~
__pycache__/
*.pkl
data/
**/*.egg-info
.python-version
../../PycharmProjects/CybORG/.idea/
.vscode/
.DS_Store
.pytest_cache/
profiles/
venv/*
venv
.idea/
CybORG\.egg-info/

_pycache_/
*.pyc

uv.lock

.venv/

CybORG/Logs/
CybORG/Emulator/Logs/
CybORG/Emulator/logs/
CybORG/Emulator/Config/emulatorconfig.ini
docs/_build/
site/
dist

.ruff_cache/